.App {
  text-align: center;
  box-sizing: border-box !important;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

header.wd-header {
  background: #9EC4E4;
  margin-top: 0;
  margin-bottom: 0;
  padding: 1em;
}
.wd-logo img {
  height: 60px;
}

.wd-logo-branding h2 {
  margin: 0.25em 0 0 0;
}

.wd-jumbotron {
  height: 20em;
  background: linear-gradient(
      rgba(175, 175, 175, 0.55),
      rgba(175, 175, 175, 0.55)
    ), url("smaller_home.jpg");
  background-size: cover;
  margin-bottom: 0;
}

.wd-centered {
  text-align: center;
}

.wd-section {
  height: 20em;
  position: relative;
}

.wd-section.wd-blue {
  background: #5E9CD3;
  padding: 2em 0;
}

.wd-vertical-aligned {
  position: absolute;
  top: 35%;
  width: 100%;
}

.wd-container-fix {
  position: relative;
}

.wd-list {
  list-style: none;
}

.wd-footer {
  padding: 1em 0;
  font-size: 1.3em;
}

.wd-pull-right {
  float: right;
}

.wd-field-wrapper {
  margin-left: 1em;
}

.wd-field-wrapper input {
  border: none;
  border-bottom: 1px solid black;
}

.wd-sentence-wrapper {
  margin: 0 1em;
}

.wd-survey-wrapper {
}

.wd-field-wrapper > div {
  display: inline;
}
div.wd-field-wrapper {
  display: inline-block;
}
